name: Build/Release

on:
  push:
    tags:
      - "v*"

jobs:
  release:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [windows-latest, macos-latest]

    steps:
      - name: Check out git repository
        uses: actions/checkout@v4

      - name: Clone and Setup SDK dependency
        run: |
          cd ..
          git clone https://github.com/rewq114/hchat-sdk-node.git hchat-sdk-node
          cd hchat-sdk-node
          npm install
          npm run build

      - name: Install Node.js and npm
        uses: actions/setup-node@v4
        with:
          node-version: 18
          cache: "npm"

      - name: Install dependencies
        run: npm install

      - name: Build and Release
        run: npm run package
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
